.card {
  width: 100%;
}

.productItem {
  flex: 1 0 30%;
  // box-sizing: border-box;

  margin: 1rem;
  &:hover {
    transform: scale(1.08);
    background-color: #e6e5e5;
  }
}

h3.title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

p.desc {
  font-size: medium;
  font-weight: bold;
  text-transform: capitalize;
}

.price {
  font-weight: bold;
}

.price_num {
  color: red;
}
