.carousel {
  position: relative;
}

.carousel__content__wrapper {
  overflow: hidden;
}

.carousel__content {
  display: flex;
}

.carousel__content__horizontal {
  margin-left: -1rem /* -16px */;
}

.carousel__content__vertical {
  flex-direction: column;
  margin-top: -1rem /* -16px */;
}

.carousel__item {
  min-width: 0px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100%;
}

.carousel__item__horizontal {
  padding-left: 1rem /* 16px */;
}

.carousel__item__vertical {
  padding-top: 1rem /* 16px */;
}

.carousel__previous,
.carousel__next {
  position: absolute;
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
}

.carousel__previous__horizontal {
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__previous__vertical {
  top: -3rem;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

.carousel__next__horizontal {
  right: -3rem;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__next__vertical {
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

.icon {
  height: 1rem;
  width: 1rem;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
