.searchBar {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.searchBar input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
